.u-section-1 {
  background-image: url("images/Marwin_.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 848px;
}

.u-section-1 .u-shape-1 {
  width: 444px;
  height: 413px;
  background-image: linear-gradient(45deg, white, #4c7397);
  margin: 0 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 699px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 30.53% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 535px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 12.79% 50%;
    background-size: auto 120%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 401px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 15.33% 46.77%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-1 .u-shape-1 {
    width: 128px;
    height: 128px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 754px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 634px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  width: 415px;
  object-position: 50% 0%;
  left: auto;
  right: 0;
}

.u-section-2 .u-shape-1 {
  width: 268px;
  height: 268px;
  background-image: linear-gradient(45deg, white, #4c7397);
  margin: 336px auto -30px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 634px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-2 .u-text-1 {
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 583px;
  }

  .u-section-2 .u-image-1 {
    width: 458px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 308px;
    height: 308px;
    margin-top: -415px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 583px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 316px;
  }

  .u-section-2 .u-shape-1 {
    width: 250px;
    height: 250px;
    margin-top: -354px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 565px;
  }

  .u-section-2 .u-image-1 {
    width: 358px;
  }

  .u-section-2 .u-shape-1 {
    width: 209px;
    height: 190px;
    margin-top: 120px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 60px;
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 443px;
  }

  .u-section-2 .u-image-1 {
    width: 280px;
    object-position: 0% 0%;
  }

  .u-section-2 .u-shape-1 {
    width: 114px;
    height: 114px;
    margin-top: 298px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-3 {
  background-image: linear-gradient(#ceafb2, #8c666a);
}

.u-section-3 .u-sheet-1 {
  min-height: 844px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 704px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 45px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 26px 0 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: 26px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: 31px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 704px;
}

.u-section-3 .u-image-1 {
  min-height: 488px;
  width: 596px;
  background-image: url("images/7beca3dc-682e-77b4-0e89-f46a04c1d6632.png");
  background-position: 50% 50%;
  margin: 186px 0 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 596px;
  height: 547px;
  margin: -674px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 580px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 580px;
  }

  .u-section-3 .u-image-1 {
    min-height: 364px;
    width: 487px;
  }

  .u-section-3 .u-image-2 {
    width: 487px;
    height: 447px;
    margin-top: -550px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 307px;
    width: 383px;
    margin-top: 95px;
  }

  .u-section-3 .u-image-2 {
    width: 370px;
    height: 340px;
    margin-top: -402px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-3 .u-image-1 {
    min-height: 359px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 445px;
    height: 375px;
    margin-top: -454px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-3 .u-image-1 {
    min-height: 230px;
    width: 303px;
  }

  .u-section-3 .u-image-2 {
    width: 280px;
    height: 261px;
    margin-top: -325px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1064px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 60px 161px 0;
}

.u-section-4 .u-text-2 {
  width: 826px;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  min-height: 766px;
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  grid-template-rows: repeat(1, auto);
  grid-gap: 30px;
  margin: 20px auto 60px 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 20px 0 0;
}

.u-section-4 .u-group-1 {
  width: 60px;
  min-height: 60px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  margin: 0 5px;
}

.u-section-4 .u-group-2 {
  min-height: 338px;
  animation-duration: 1000ms;
  width: 248px;
  margin: -60px 0 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 15px 0 30px 10px;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: 27px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 20px 0 0;
}

.u-section-4 .u-group-3 {
  width: 60px;
  min-height: 60px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  margin: 0 5px;
}

.u-section-4 .u-group-4 {
  min-height: 338px;
  animation-duration: 1000ms;
  width: 248px;
  margin: -60px 0 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 15px 0 30px 10px;
}

.u-section-4 .u-text-7 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1rem;
  margin: 27px 0 0;
}

.u-section-4 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 20px 0 0;
}

.u-section-4 .u-group-5 {
  width: 60px;
  min-height: 60px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 0;
}

.u-section-4 .u-text-9 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  margin: 0 5px;
}

.u-section-4 .u-group-6 {
  min-height: 338px;
  animation-duration: 1000ms;
  width: 248px;
  margin: -60px 0 0 auto;
}

.u-section-4 .u-container-layout-9 {
  padding: 15px 0 30px 10px;
}

.u-section-4 .u-text-10 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-11 {
  font-size: 1rem;
  margin: 27px 0 0;
}

.u-section-4 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-10 {
  padding: 30px 20px 0 0;
}

.u-section-4 .u-group-7 {
  width: 60px;
  min-height: 60px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-11 {
  padding: 0;
}

.u-section-4 .u-text-12 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  margin: 0 5px;
}

.u-section-4 .u-group-8 {
  min-height: 338px;
  animation-duration: 1000ms;
  width: 248px;
  margin: -60px 0 0 auto;
}

.u-section-4 .u-container-layout-12 {
  padding: 15px 0 30px 10px;
}

.u-section-4 .u-text-13 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-14 {
  font-size: 1rem;
  margin: 27px 0 0;
}

.u-section-4 .u-btn-4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-13 {
  padding: 30px 20px 0 0;
}

.u-section-4 .u-group-9 {
  width: 60px;
  min-height: 60px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-14 {
  padding: 0;
}

.u-section-4 .u-text-15 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  margin: 0 5px;
}

.u-section-4 .u-group-10 {
  min-height: 338px;
  animation-duration: 1000ms;
  width: 248px;
  margin: -60px 0 0 auto;
}

.u-section-4 .u-container-layout-15 {
  padding: 15px 0 30px 10px;
}

.u-section-4 .u-text-16 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-17 {
  font-size: 1rem;
  margin: 27px 0 0;
}

.u-section-4 .u-btn-5 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-16 {
  padding: 30px 20px 0 0;
}

.u-section-4 .u-group-11 {
  width: 60px;
  min-height: 60px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-17 {
  padding: 0;
}

.u-section-4 .u-text-18 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  margin: 0 5px;
}

.u-section-4 .u-group-12 {
  min-height: 338px;
  animation-duration: 1000ms;
  width: 248px;
  margin: -60px 0 0 auto;
}

.u-section-4 .u-container-layout-18 {
  padding: 15px 0 30px 10px;
}

.u-section-4 .u-text-19 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-20 {
  font-size: 1rem;
  margin: 27px 0 0;
}

.u-section-4 .u-btn-6 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 61px;
    margin-right: 61px;
  }

  .u-section-4 .u-list-1 {
    min-height: 632px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-2 {
    min-height: 362px;
    width: 193px;
  }

  .u-section-4 .u-group-4 {
    min-height: 362px;
    width: 193px;
  }

  .u-section-4 .u-group-6 {
    min-height: 362px;
    width: 193px;
  }

  .u-section-4 .u-group-8 {
    min-height: 362px;
    width: 193px;
  }

  .u-section-4 .u-group-10 {
    min-height: 362px;
    width: 193px;
  }

  .u-section-4 .u-group-12 {
    min-height: 362px;
    width: 193px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1387px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    min-height: 1089px;
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2) + 345px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-2 {
    min-height: 312px;
    width: 251px;
  }

  .u-section-4 .u-group-4 {
    min-height: 312px;
    width: 251px;
  }

  .u-section-4 .u-group-6 {
    min-height: 312px;
    width: 251px;
  }

  .u-section-4 .u-group-8 {
    min-height: 312px;
    width: 251px;
  }

  .u-section-4 .u-group-10 {
    min-height: 312px;
    width: 251px;
  }

  .u-section-4 .u-group-12 {
    min-height: 312px;
    width: 251px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-4 .u-group-2 {
    min-height: 224px;
    width: 443px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-4 .u-group-4 {
    min-height: 224px;
    width: 443px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-right: 10px;
  }

  .u-section-4 .u-group-6 {
    min-height: 224px;
    width: 443px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-right: 10px;
  }

  .u-section-4 .u-group-8 {
    min-height: 224px;
    width: 443px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-right: 10px;
  }

  .u-section-4 .u-group-10 {
    min-height: 224px;
    width: 443px;
  }

  .u-section-4 .u-container-layout-15 {
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-16 {
    padding-right: 10px;
  }

  .u-section-4 .u-group-12 {
    min-height: 224px;
    width: 443px;
  }

  .u-section-4 .u-container-layout-18 {
    padding-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 136px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-2 {
    min-height: 302px;
    width: 265px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-group-4 {
    min-height: 302px;
    width: 265px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-group-6 {
    min-height: 302px;
    width: 265px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-group-8 {
    min-height: 302px;
    width: 265px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
  }

  .u-section-4 .u-group-10 {
    min-height: 302px;
    width: 265px;
  }

  .u-section-4 .u-text-16 {
    margin-right: 0;
  }

  .u-section-4 .u-group-12 {
    min-height: 302px;
    width: 265px;
  }

  .u-section-4 .u-text-19 {
    margin-right: 0;
  }
}.u-section-5 {
  background-image: linear-gradient(#ceafb2, #604043);
}

.u-section-5 .u-sheet-1 {
  min-height: 1004px;
}

.u-section-5 .u-image-1 {
  width: 936px;
  height: 723px;
  margin: 60px auto 0 23px;
}

.u-section-5 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: -690px 0 0 485px;
}

.u-section-5 .u-text-2 {
  letter-spacing: 0;
  font-size: 1.125rem;
  text-transform: none;
  margin: 623px 625px 0 23px;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-list-1 {
  min-height: 399px;
  grid-template-columns: repeat(2, calc(((100% - 1140px) / 2) + 554px));
  grid-template-rows: repeat(1, auto);
  width: 524px;
  grid-gap: 31px;
  margin: -358px 0 60px auto;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-5 .u-image-1 {
    width: 872px;
    margin-left: 4px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -704px;
    margin-left: 324px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 637px;
  }

  .u-section-5 .u-list-1 {
    min-height: 183px;
    grid-template-columns: repeat(2, calc(((100% - 940px) / 2)  + 456px));
    grid-gap: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-5 .u-image-1 {
    width: 617px;
    height: 649px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 5rem;
    margin-top: -616px;
    margin-left: 196px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 724px;
    margin-right: 208px;
    margin-left: 0;
  }

  .u-section-5 .u-list-1 {
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 346px));
    margin-top: -459px;
    margin-bottom: 129px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 954px;
  }

  .u-section-5 .u-image-1 {
    width: 490px;
    height: 492px;
    margin-top: 54px;
  }

  .u-section-5 .u-text-1 {
    font-size: 4.625rem;
    margin-top: -474px;
    margin-left: 128px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 688px;
    margin-right: 76px;
  }

  .u-section-5 .u-list-1 {
    min-height: 390px;
    grid-template-columns: repeat(2, calc(((100% - 540px) / 2) + 256px));
    width: 478px;
    height: auto;
    margin-top: -446px;
    margin-bottom: 110px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1343px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 341px;
    margin-top: 55px;
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-top: -421px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 1154px;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    min-height: 796px;
    grid-template-columns: 100%;
    width: 254px;
    margin-top: -862px;
    margin-bottom: 41px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-slider-1 {
  width: 1140px;
  margin-top: 63px;
  margin-bottom: 0;
  min-height: 375px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-shape-1 {
  width: 272px;
  height: 272px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-6 .u-image-1 {
  width: 276px;
  height: 276px;
  margin: -236px auto 0 38px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: -276px 0 0 375px;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0 375px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  margin: 20px auto 0 284px;
  padding: 10px 76px 10px 75px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-shape-2 {
  width: 272px;
  height: 272px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-6 .u-image-2 {
  width: 276px;
  height: 276px;
  margin: -236px auto 0 38px;
}

.u-section-6 .u-text-3 {
  font-size: 3rem;
  margin: -276px 0 0 377px;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0 377px;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  margin: 20px auto 0 284px;
  padding: 10px 76px 10px 75px;
}

.u-section-6 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-6 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  position: absolute;
  right: 0;
}

.u-section-6 .u-text-5 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  text-transform: none;
  margin: 30px auto 60px 488px;
}

.u-section-6 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-6 .u-slider-1 {
    width: 940px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 350px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 350px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 261px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-left: 350px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-left: 350px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 272px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-6 .u-slider-1 {
    width: 720px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 55px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 334px;
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    margin-left: 334px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 101px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 334px;
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-4 {
    margin-left: 334px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 112px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 635px;
    height: auto;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 36px;
    margin-left: 50px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 50px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 20px;
    margin-left: 50px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 50px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 307px;
  }
}.u-section-7 {
  min-height: 657px;
  background-image: none;
}

.u-section-7 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 657px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 55px 40px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 36px;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-size: 4.0625rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 8px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 24px auto 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 24px auto 0 0;
  padding: 10px 55px 10px 54px;
}

.u-section-7 .u-image-1 {
  min-height: 657px;
  background-image: url("images/3sd.jpg");
  background-position: 29.83% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 604px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 548px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 35px;
  }

  .u-section-7 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-7 .u-image-1 {
    min-height: 548px;
    background-position: 32.17% 0%;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 378px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
  }

  .u-section-7 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-7 .u-image-1 {
    min-height: 403px;
    background-position: 38.5% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 649px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-7 .u-container-layout-1 {
    padding: 30px 165px 30px 10px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-7 .u-image-1 {
    min-height: 649px;
    background-position: 33.37% 50%;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 446px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 0;
  }

  .u-section-7 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-image-1 {
    min-height: 368px;
    background-position: 28.37% 50%;
  }
}.u-section-8 {
  background-image: none;
  min-height: 723px;
}

.u-section-8 .u-shape-1 {
  height: 374px;
  background-image: linear-gradient(#ceafb2, #8c666a);
  margin: 350px auto 0 0;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: -663px auto 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 400px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-line-1 {
  width: 456px;
  margin: 20px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.875rem;
  letter-spacing: 3px;
  line-height: 1.8;
  font-weight: 700;
  margin: 75px 234px 0 0;
}

.u-section-8 .u-text-3 {
  font-style: normal;
  margin: 20px auto 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: none none solid;
  font-style: normal;
  padding: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  height: 383px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-4 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 653px;
  }

  .u-section-8 .u-shape-1 {
    height: 327px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -616px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-8 .u-text-1 {
    font-size: 5rem;
  }

  .u-section-8 .u-line-1 {
    width: 410px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-8 .u-image-1 {
    height: 308px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 423px;
  }

  .u-section-8 .u-shape-1 {
    height: 272px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -561px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.4375rem;
    margin-right: 0;
  }

  .u-section-8 .u-line-1 {
    width: 300px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-image-1 {
    height: 225px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 1183px;
  }

  .u-section-8 .u-shape-1 {
    height: 409px;
    margin-top: 774px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1123px;
  }

  .u-section-8 .u-image-1 {
    height: 390px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 1094px;
  }

  .u-section-8 .u-shape-1 {
    height: 292px;
    margin-top: 802px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1034px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-image-1 {
    height: 220px;
    margin-right: initial;
    margin-left: initial;
  }
}